# Mac
.DS_Store

# Gradle
.gradle/
build/
# IDEA
.idea/
out/
generated/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/
bin/

# Ignore VertX file cache
.vertx/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Project
*.mv.db
*.trace.db
logs/

# Local Docker Volumes
.data/
# Other

*.id
generated/

